/*visu activité*/
.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bloc{
  padding-bottom: 3em;
}

.title{
  color: rgb(0, 77, 0);
  margin: 1.75rem 0 0.875rem;
  padding: 0.8em 0;
  margin-top: 30px;
  min-height: 32px;
  text-align: center;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  text-decoration: none;
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image{
  width: 30vw;
}

.colonne{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  width: 100%;
}

.titre {
  color: rgb(153, 61, 0);
  font-weight: 400;
}

.ligne2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.left{
  display: flex;
  flex-direction: row;
  justify-content: "center";
  align-items: center;
  width: 50%;
}

.duree{
  display: flex;
}

.bold {
  font-weight: 500;
  margin: 0;
  padding-right: 0.5em;
}

.valeur{
  margin: 0;
  padding-top: 0.1em;
}

.right {
  width: 35%;
}

.input {
  width: 30%;
}

@media screen and (max-width:425px) {

  .container{
    width: 100%;
  }

  .ligne {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ligne2 {
    width: 100%;
  }

  .image {
    width: 50vw;
  }

  .duree {
    flex-direction: column;
  }
  .right {
    width: 60%;
  }
}