.lien {
    display:flex;
    flex-direction: column;
    border: none;
    width: 100%;
    padding: 0 4em;
    height: 210vh;
}

.lien input {
    height: 5vh;
    border-radius: 5em;
    border: none;
    margin-bottom: 1em;
}

.lien input::placeholder {
    padding-left: 1em;
}

.lien button {
    width: 10vw;
    height: 5vh;
    border-radius: 5em;
    border: 0.1em solid black;
    margin-top: 1em;
}